# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/
.venv/

# Ignore Airflow logs
logs/
airflow.cfg

# Ignore local configuration files
*.env
*.local

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore version control directories
.git/
.gitignore
